<!DOCTYPE html>
<html>
<head>
	<title>Welcome to FlaskTaskr</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css' )}}">
{# 	{% macro full_input( input, verbose ) %}

		{{ input(placeholder="verbose") }}
	    {% if form.name.errors %}
	    <span class='error'>
	        {% for error in form.name.errors %}
	            {{ error }}
	        {% endfor %}
	    </span>
	    {% endif %}
	{%- endmacro %} #}
</head>
<body>
	<div class="page">
		{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
		{% endfor %}

		{% if error %}
			<div class="error"><strong>Error:</strong>{{ error }}</div>
		{% endif %}

		<br>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>