{% extends "_base.html" %}
{% block content %}

<h1>Welcome to Flasktaskr</h1>
<h3>Please login to access your task list.</h3>

<form method="post" action="/">
    {{ form.csrf_token }}
    {{ form.name(placeholder="Name") }}
    {% if form.name.errors %}
    <span class='error'>
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </span>
    {% endif %}
    {{ form.password(placeholder="Password") }}
    {% if form.password.errors %}
    <span class='error'>
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
    </span>
    {% endif %}

	<button type="submit" class="btn btn-sm btn-success">Login</button>
</form>
<br>
<p><em>Need an account? </em><a href="/register">Signup!!!</a></p> 

{% endblock %}